*.csv
*.sqlite
*.qdrep
*.pyc
*.so
*.o
*.ncu-rep
*.svg
*.xlsx
*.log
*.png
*.json
*.nsys-rep
*.qdstrm
.DS_Store
.idea/
__pycache__/
orion.egg-info/
benchmarking/examples/*
benchmarking/eval/*
benchmarking/results/*
results
.vscode/
nsys/